*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  user-select: none;
}


.calculator{
  width: 28vw;
  height: 90vh;
  margin: 5vh auto;
  padding: 5vh;
  border: 1px solid rgb(233, 214, 214);
  border-radius: 2rem;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.868);
  color: rgb(232, 104, 104);
}

.input{
  margin-bottom: 3.5vh;

}

input{
  /* width: calc(100%-10px); */
  width: 80%;
  margin: 2.5vh 0px;
  padding: 1.5vh 2vh;
  border: 1px solid rgb(231,224,224);
  border-radius: 5px;
}

 
 
 
.equals-button {
  grid-column: span 3;  
}


.gridStyle {
  display: grid;
  grid-template-columns: repeat(4, 1fr);  
  gap: 0.5rem;  
  width: 100%; 
}
.buttonStyling {
  padding: 0.5rem; 
  background-color: white;
  border-radius: 0.25rem; 
  width: 100%;
}
